.pole {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.had {
  background: lime;
}

.zradlo {
  background: red;
}

.had.zradlo {
  background: orange;
}

body {
  overflow: hidden;
}

.zradlo{
  background-color: aqua;
}